body {
  padding-top: 70px;
}

.card {
  border-color: rgba(70, 130, 180, 0.25);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  transition: 0.3s;
}

#account a {
  color: steelblue;
  text-decoration: none;
}

#account a:hover .card {
  background-color: steelblue;
  color: white;
}

.sub_img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}