<h1>Subscription Information</h1>

<p><a href="{{ url_for('account') }}">Back to account</a></p>

<div>
  <div>
    <p>{{ subscription['plan']['nickname'] }}</p>
    <p><a href="{{ url_for('change_subscription') }}">Change Subscription</a></p>
  </div>
  
  <div>
    <p>Next Payment: ${{ upcoming_invoice['amount_due'] / 100 }} on {{ subscription['current_period_end'] }}</p>
  </div>
</div>

<div>
  <h3>Billing History</h3>

  <table>
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Amount
        </th>
        <th>
          Status
        </th>
        <th>
          Invoice
        </th>
      </tr>
    </thead>
    <tbody>
      {% for charge in charges %}
        <tr>
          <td>
            {{ charge['created'] }}
          </td>
          <td>
            ${{ charge['amount'] / 100 }}
          </td>
          <td>
            {% if charge['paid'] == True %}
              Paid
            {% else %}
              Not Paid
            {% endif %}
          </td>
          <td>
            <a href="{{ charge['receipt_url'] }}" target="_blank">View Invoice</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>