{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Subscription Information</h1>
    <p><a href="{{ url_for('account') }}">Back to account</a></p>

    <div class="row">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="col-md-12 alert alert-warning text-center" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <p class="lead">
              <strong>Enrolled In:</strong> <br> 
              {{ subscription['plan']['nickname'] }} (<a href="{{ url_for('change_subscription') }}">Change</a>)
            </p>
          </div>
          <div class="col-md-6 text-center">
            {% if subscription.cancel_at_period_end %}
              <p class="lead">
                Subscription set to cancel on: <br>
                {{ subscription['cancel_at'] }}
              </p>
            {% else %}
              <p class="lead">
                Next Payment: <br>
                {{ subscription['current_period_end'] }}
              </p>
            {% endif %}
          </div>
          <form class="mx-auto" method="POST" action="{{ url_for('cancel_subscription') }}">
            {% if subscription.cancel_at_period_end %}
              <input type="hidden" name="action" value="reactivate">
              <button class="btn btn-outline-success">Reactivate Subscription</button>
            {% else %}
              <input type="hidden" name="action" value="cancel">
              <button class="btn btn-outline-danger">Cancel Subscription</button>
            {% endif %}
          </form>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <h3 class="pb-2">Billing History</h3>

            <div class="table-responsive">
              <table class="table table-striped text-center">
                <thead>
                    <th>Date Billed</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Invoice</th>
                </thead>
                <tbody>
                  {% for charge in charges %}
                    <td>{{ charge['created'] }}</td>
                    <td>${{ charge['amount'] / 100 }}</td>
                    <td>
                      {% if charge['paid'] == True %}
                        Paid
                      {% else %}
                        Not Paid
                      {% endif %}
                    </td>
                    <td>
                      <a href="{{ charge['receipt_url'] }}" target="_blank">View</a>
                    </td>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}