{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Account</h1>

    <p class="lead">Welcome {{ current_user.profile.first_name if current_user.profile.first_name else current_user.email }}!</p>

    <div class="row">
      <div class="col-md-6">
        <a href="{{ url_for('profile') }}">
          <div class="card">
            <div class="card-body mx-auto">
              <h5 class="card-title">
                <i class="fas fa-user fa-2x text-center pb-2" style="display: block;"></i>
                Profile Information
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a href="{{ url_for('account_subscription') }}">
          <div class="card">
            <div class="card-body mx-auto">
              <h5 class="card-title">
                <i class="fas fa-file-invoice-dollar fa-2x text-center pb-2" style="display: block;"></i>
                Subscription Information
              </h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 mx-auto py-4">
        <a href="#">
          <div class="card">
            <div class="card-body mx-auto">
              <h5 class="card-title">
                <i class="fas fa-camera fa-2x text-center pb-2" style="display: block;"></i>
                New Sticker
              </h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}