<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.0-dist/bootstrap-4.3.0-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_layout.css') }}">
  {% block head %}

  {% endblock %}
  <title>Elite Carwash</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    Elite Car Wash
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('account') }}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
          <a class="nav-link" href="{{ url_for('login') }}"> <span class="sr-only">(current)</span>Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

  {% block content %}

  {% endblock %}

<footer class="pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 my-0 mt-3">
        <div class="my-3">
          <i class="fas fa-phone-square fa-2x"></i> (973)-997-3796
        </div>
        <div class="my-3">
          <i class="fas fa-envelope-square fa-2x"></i> developersdomain44@gmail.com
        </div>
      </div>

      <div class="col-md-6 my-0 mt-3 text-center">
        social media
      </div>
    </div>
  </div>

  <div class="text-center py-3">
    Copyright
  </div>
</footer>

</body>
</html>