{% extends 'base.html' %}

{% block content %}

  <div class="py-3">
    <h1 class="display-4 text-center">Change Password</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body pb-4">
            <form method="POST" action="{{ url_for('change_password') }}">
              {{ form.hidden_tag() }}

              {% for error in form.errors.values() %}
                {% for err in error %}
                  <div class="alert alert-danger text-center" role="alert">
                    {{ err }}
                  </div>
                {% endfor %}
              {% endfor %}

              <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class='form-control') }}
              </div>
              <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2(class='form-control') }}
              </div>
              <div class="form-group">
                {{ form.recaptcha() }}
              </div>
              {{ form.submit(class='btn btn-lg btn-block btn-outline-primary') }}
          </form>
          </div>
        </div>
        <form action="">
      </div>
    </div>
  </div>

{% endblock %}