{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="pt-3 pb-4">
      <h1 class="display-4 text-center">Change Subscription</h1>
      <p><a href="{{ url_for('account') }}">Back to account</a></p>
    </div>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      {% for plan in plans %}
        <div class="card mb-4">
          <div class="card-header">
            <h3>{{ plan.nickname }}</h3>
          </div>

          <div class="card-body d-flex flex-column">
            <img class="img-fluid sub_img" src="{{ url_for('static', filename=plan.metadata['img']) }}" alt="">
            <h1 class="card-title">${{ plan.amount / 100 }} <small class="text-muted">/ mo</small></h1>

            <ul class="list-unstyled mt-3">
              {{ plan.metadata['description'] | safe }}
            </ul>

            <form class="mt-auto" method="POST" action="{{ url_for('update_subscription') }}">
              <input type="hidden" name="plan-id" value="{{ plan.id }}">

              <button class="mt-auto btn btn-lg btn-block btn-outline-primary">Change Plan</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}