{% extends 'base.html' %}

{% block content %}
  <div class="py-3">
    <h1 class="display-4 text-center">Login</h1>
  </div>

  
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger text-center" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class='form-control') }}
              </div>
              <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class='form-control') }}
              </div>
    
              {{ form.submit(class='btn btn-lg btn-block btn-outline-primary') }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}