<h1>Membership</h1>

{% if current_user.membership %}

  <p>You are currently enrolled in the {{ current_user.membership.membership_name }} Package</p>

{% endif %}

{% for membership in memberships %}

  <div>
      <p>{{ membership.membership_name }} Package</p>
    
      <form method="POST" action="{{ url_for('charge') }}">
        <input type="hidden" name="membership-id" value="{{ membership.id }}">
  
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="A Flask Charge"
                    data-amount="500"
                    data-locale="auto"></script>
      </form>
  </div>

{% endfor %}
