<h1>Membership</h1>

{% if current_user.membership %}

  <p>You are currently enrolled in the {{ current_user.membership.membership_name }} Package</p>

{% endif %}

{% for membership in memberships %}

  <div>
      <p>{{ membership.membership_name }} Package</p>
    
      <form method="POST" action="{{ url_for('membership') }}">
        <input type="hidden" name="membership-id" value="{{ membership.id }}">
    
        <input type="submit" value="Subscribe">
      </form>
  </div>

{% endfor %}